/*--------------=========================CORE=============================----------------------*/
//mixins
@mixin core-font-norm {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}
@mixin core-font-bold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
@mixin tittle-font-norm {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}
@mixin tittle-font-bold {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}
@mixin invite-font {
  font-family: "Neucha", cursive;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body {
  @include core-font-norm;
  display: flex;
  flex-flow: column;
  background-color: #000000;
}
.container {
  width: 90%;
  margin: auto;
  @include flex;
}
.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
}
.backgroung-img {
  width: 100%;
  height: 100%;
}
.background-img-mob {
  width: 100%;
  height: 100%;
  display: none;
}
/*======================-----------nav-----------======================*/
.nav {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  opacity: 0.15;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
  &__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
  }
  &__element {
    @include flex;
    flex-basis: 16%;
    color: inherit;

    font-size: 19px;
  }
  &__span {
    cursor: pointer;
  }
}
.nav:hover {
  opacity: 0.8;
}
.no-scroll {
  overflow: hidden;
}
/*=================-----------m-menu----------=================================*/
.m-logo {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 5%;
  top: 5%;
  display: none;
  z-index: 222;
  &__img {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
}
.m-menu {
  background-color: rgba(248, 245, 240, 0.9);
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;

  &__element {
    font-size: 20px;
    cursor: pointer;
  }
  &__m-menu__element-img-wrap {
    margin-bottom: 30px;
  }
  &__element-img {
    width: 35px;
    height: 35px;

    cursor: poiner;
  }
}
.m-menu__wrap {
  position: fixed;
  width: 0vw;
  height: 0vh;
  overflow: hidden;
  z-index: 150;
}
/*=======================-------------------HEADER-------------=====================================================*/

.header {
  @include flex;
  height: 100vh;
  width: 100%;
  &__wrap {
    flex-flow: column;
  }
  &__title {
    @include tittle-font-norm;
    word-spacing: 30px;
    font-size: 120px;
    color: #ffffff;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__Kristyna {
    margin-left: 70px;
  }
  &__egor {
    margin-right: 70px;
  }

  &__subtitle {
    @include core-font-bold;
    letter-spacing: 2px;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
  }
}
/*====================================----------------INVITE-----------------------------=============================*/
.invite {
  width: 100%;

  padding-top: 100px;
  margin-bottom: 200px;

  &__wrap {
    width: 80%;
    padding: 10% 0 10% 5%;
    position: relative;
    @include flex;
    background-color: rgba(248, 245, 240, 0.9);
    border-radius: 20px;
  }
  &__corner-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 40%;
  }
  &__corner-top-img {
    height: 100%;
    width: 100%;
  }
  &__text {
    width: 70%;
    align-self: center;
    @include invite-font;

    z-index: 111;
  }
  &__text-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
  }
  &__text-text {
    font-size: 30px;
    text-align: center;
  }
  &__corner-bot {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 40%;
  }
  &__corner-bot-img {
    height: 100%;
    width: 100%;
  }
}
/*===================================-----------TIMING--------============================================================*/

.timing {
  margin-bottom: 200px;
  &__wrapp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
  }
  &__title {
    @include core-font-bold;
    font-size: 80px;
    color: #ffffff;
    margin-bottom: 80px;
    text-align: center;
  }
  &__main {
    background-color: rgba(249, 245, 240, 0.85);
    @include flex;
    width: 100%;
    height: 45vh;
  }
  &__main-img {
    width: 70%;
    height: 80%;
  }
  &__main-imgMob {
    display: none;
  }
}

/*=======================================---------PLACE----------===================================================*/
.place {
  width: 100%;
  background-color: rgba(97, 96, 94, 0.95);
  color: #fff;
  margin-bottom: 200px;
  &__wrapp {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
  }
  &__address {
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    align-items: center;
  }
  &__address-title {
    @include core-font-bold;
    font-size: 65px;
    margin-bottom: 55px;
  }
  &__address-address {
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
  }
  &__address-home {
    @include core-font-bold;
    font-size: 50px;
  }
  &__google-map {
    flex-basis: 50%;
    text-align: center;
  }
}
/*============================--------------------GUEST----------------------=========================================*/
.guest {
  width: 100%;
  margin-bottom: 100px;
  &__wrapp {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  &__title {
    color: #ffffff;
    @include core-font-bold;
    font-size: 70px;
    margin-bottom: 50px;
  }
  &__table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__table-elements {
    display: flex;
    flex-basis: 28%;
    flex-flow: column;
    background-color: rgba(248, 245, 240, 0.95);
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    border-radius: 10px;
  }
  &__table-img {
    width: 24px;
    height: 39px;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    top: -22px;
  }
  &__table-nav {
    width: 80%;
    margin-top: 20px;
  }
  &__table-nav-title {
    text-align: center;
    @include core-font-bold;
    font-size: 30px;
  }
  &__table-nav-elem {
    font-size: 24px;
  }
}
/*===================================----------------IMPORTANT-----------------===========================*/
.impo {
  width: 100%;
  background-color: rgba(248, 245, 240, 0.95);
  padding: 30px 0 0 0;

  position: relative;
  &__wrap {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    z-index: 111;
  }
  &__title {
    @include core-font-bold;
    font-size: 88px;
    margin-bottom: 45px;
    z-index: 111;
  }
  &__main {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  &__main-text {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__main-contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
  }
  &__main-element {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 40%;
  }
  &__main-element-title {
    @include core-font-bold;
    font-size: 40px;
    margin-bottom: 20px;
  }
  &__main-element-tel {
    font-size: 30px;
    margin-bottom: 15px;
  }
  &__main-element-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
  }
  &__img-vk {
    width: 50px;
    height: 50px;
  }
  &__img-insta {
    width: 50px;
    height: 50px;
  }
}

/*=============================-------------------------INFO------------===============================*/
.info {
  width: 100%;
  background-color: rgba(248, 245, 240, 0.95);
  padding: 30px 0 30px 0;
  position: relative;
  margin-bottom: 80px;

  &__wrap {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  &__title {
    @include core-font-bold;
    font-size: 88px;
    margin-bottom: 45px;
  }
  &__element {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 25px;
    align-self: flex-start;
  }
  &__element-x {
    width: 100%;
    align-self: flex-start;
  }
  &__element-title {
    @include core-font-bold;
    font-size: 40px;
    margin-bottom: 15px;
  }

  &__element-text {
    font-size: 30px;
    z-index: 100;
  }
  &__element-color {
    height: 30px;
    text-align: center;
    margin-top: 20px;
  }
  &__element-color-img {
    width: 70%;
    height: 100%;
    margin: auto;
  }
}
.footer {
  width: 100%;
  background-color: #000000;
  padding: 20px 0 20px 0;
  &__main {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
  }
  &__text {
    color: #ffffff;
    font-size: 20px;
  }
  &__date {
    color: #ffffff;
    font-size: 20px;
  }
}

/*===================================================================================================================
--------------------------------------------@ MEDIA-----------------------------------------------------------
===========================================================================================================*/
@media (max-width: 1068px) {
  .invite__text-title {
    font-size: 30px;
  }
  .invite__text-text {
    font-size: 26px;
  }
  .nav__wrapp {
    width: 99%;
  }
  .timing__main-img {
    width: 85%;
  }
}
@media (max-width: 900px) {
  .m-logo {
    display: block;
  }
  .nav {
    display: none;
  }
}
@media (max-width: 840px) {
  .header {
    &__title {
      flex-flow: column;
      align-items: center;
      font-size: 80px;
    }
    &__subtitle {
      font-size: 30px;
    }
    &__egor {
      margin-right: 0px;
    }
    &__Kristyna {
      margin-left: 0px;
    }
  }
  .place {
    &__wrapp {
      flex-flow: column;
      width: 70%;
    }
    &__address {
      margin-bottom: 59px;
    }
    &__google-map {
      height: 35vh;
    }
  }
  .guest {
    &__table {
      justify-content: space-around;
    }
    &__table-elements {
      flex-basis: 40%;
    }
  }
}
@media (max-width: 750px) {
  .invite {
    &__container {
      width: 100%;
    }
    &__wrap {
      width: 100%;
    }
  }
  .timing__main-img {
    width: 95%;
  }
  .timing__title {
    font-size: 55px;
  }
  .guest__title {
    font-size: 55px;
    text-align: center;
  }
  .place__address {
    width: 100%;
    text-align: center;
  }
  .impo {
    &__main-text {
      font-size: 25px;
      z-index: 111;
    }
    &__main-contact {
      display: flex;
      flex-flow: column;
      width: 100%;
    }
    &__main-element {
      margin-bottom: 40px;
      width: 80%;
    }
    &__main-element-social {
      width: 30%;
    }
  }
  .info {
    &__wrap {
      width: 100%;
    }
    &__title {
      font-size: 45px;
    }
    &__element-title {
      font-size: 30px;
    }
    &__element-text {
      font-size: 20px;
    }
  }
}
@media (max-width: 560px) {
  .invite {
    &__text-title {
      font-size: 26px;
    }
    &__text-text {
      font-size: 22px;
    }
  }
  .guest {
    &__table {
      justify-content: center;
    }
    &__table-elements {
      flex-basis: 60%;
    }
  }
}
@media (max-width: 450px) {
  .backgroung-img {
    display: none;
  }
  .background-img-mob {
    display: block;
  }
  .invite {
    margin-bottom: 100px;
    &__text {
      width: 60%;
      font-size: 24px;
    }
  }
  .timing {
    margin-bottom: 100px;
    &__title {
      font-size: 45px;
      margin-bottom: 50px;
    }
    &__main {
      height: 85vh;
    }
    &__main-img {
      display: none;
    }
    &__main-imgMob {
      display: block;
      width: 80%;
      height: 75%;
    }
  }
  .place {
    margin-bottom: 100px;
    &__wrapp {
      width: 90%;
    }
    &__address-title {
      font-size: 40px;
      margin-bottom: 30px;
    }
    &__address-address {
      margin-bottom: 15px;
      font-size: 25px;
      text-align: center;
    }
    &__address-home {
      font-size: 40px;
    }
    &__google-map {
      width: 100%;
      height: 50vh;
      text-align: center;
    }
  }
  .guest__table {
    width: 100%;
  }
  .guest__table-elements {
    flex-basis: 80%;
  }
  .guest__table-nav-elem {
    font-size: 20px;
  }
  .m-logo {
    width: 40px;
    height: 40px;
    left: 2%;
    top: 2%;
  }
  .m-menu {
    width: 100%;
    height: 100%;
  }
  .info__title {
    font-size: 40px;
  }
  .footer__text {
    font-size: 15px;
  }
}
@media (max-width: 377px) {
  .timing__main-imgMob {
    width: 100%;
  }
  .timing__title {
    font-size: 35px;
  }
  .impo__title {
    font-size: 70px;
  }
  .header__egor {
    font-size: 60px;
  }
  .header__Kristyna {
    font-size: 60px;
  }
  .guest__table-elements {
    flex-basis: 95%;
  }
}
@media (max-width: 250px) {
  .invite {
    &__wrap {
      height: auto;
    }
    &__text {
      font-size: 18px;
    }
  }
}
@media (max-height: 350px) {
  .header {
    margin-bottom: 35px;
  }
  .invite {
    &__text {
      font-size: 18px;
    }
  }
  .timing__main {
    height: 75vh;
  }
}
